@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

html{
	scroll-behavior: smooth;
  }

*{
	margin:0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

:root {
    --dark-color: #0D0D0D;
    --bright-color: #FFF;
    --cinzaescuro-color: #212121;
    --azulnaval-color: #274360;
    --rosaclaro-color: #e91e63;
  }

#index {
    user-select: none;
    height: calc(100vh - 103px);
    width: 100%;
    padding: 15vh 0 0 0;
}

.title {
	letter-spacing: 3.5vw;
	font-weight: 700;
	margin-left: 10vw;
	font-size: 6vw;
	color: var(--text-color);
	user-select: none;
}

#title1 {
	margin-top: 2vh;
}

.indexImg {
	width: 43vw;
	position: fixed;
	bottom: 0;
	right: 13vw;
	z-index: -10;
	opacity: 85%;
}

.subtitle {
    width: 37vw;
	font-size: 1.5vw;
	letter-spacing: 0.3vw;
	margin-left: 10vw;
	color: var(--dark-color);
    background-color: var(--bright-color);
    border-radius: 10px;
	font-weight: 300;
	user-select: none;
}

@media(max-width:800px){
	.indexImg{
		width: 60vw;
	}
}

@media(max-width:540px) {
	.title {
		font-size: 6.5vh;
	}

	.indexImg {
		width: 100vw;
		right: 0vw;
	}

    .subtitle {
		width: 65vw;
		font-size: 3vw;
	}
}
